//colors
$bg-main-color: #1E5AF9;
$bg-second-color: #FBFCFD;
$bg-third-color: #336AFB;

//text
$txt-font: Inter;
$txt-main-color: #2A2B45;
$txt-main-size: 14px;
$txt-second-color: #848484;
$txt-second-size: 13px;
$txt-third-color: #336AFB;

//buttons
$btn-main-color: #336AFB;
$btn-second-color: #F3F7FD;
$btn-third-color: #fff;
$btn-txt-main-color: #fff;
$btn-txt-second-color: #336AFB;

//header
$header-height: 250px;

//footer
$footer-height: 250px;


//shadows
$box-shadow: #F1F4F8 0px, 0px, 20px, 5px;
